<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Log in</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Register Once</h1>

  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <ion-item class="ion-margin-bottom">
      <ion-input type="text" formControlName="firstName" placeholder="FirstName" maxlength="50" required></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input type="text" formControlName="lastName" placeholder="LastName" maxlength="50" required></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input type="email" formControlName="email" placeholder="Email" maxlength="50" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sex</ion-label>
      <ion-select formControlName="sex" placeholder="Select One" required>
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input type="number" formControlName="age" placeholder="Age" maxlength=2 required></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input type="text" formControlName="city" placeholder="City" maxlength="50" required></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input type="text" formControlName="barangay" placeholder="Barangay" maxlength="50" required></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="!profileForm.valid" expand="block" shape="round">
      Register <ion-spinner *ngIf="loading" name="circles"></ion-spinner>
    </ion-button>
    <!-- Circles -->
  </form>

  <p>By pressing 'Register' you confirm to <br />our Privacy Agreement</p>
  <div class="ion-text-center" *ngIf="error">
    <h1>{{error}}</h1>
  </div>
</ion-content>