<ion-header>
  <ion-toolbar>
    <ion-title>Privacy Consent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="kristan">
  <div id="header">
    <img src="assets/cebu-home-builders.jpg" />
  </div>
  <p class="kristan-indent">
    The QR Code App is exclusive for Cebu Home and Builders Centre and Living 'N Style contact tracing use only. All personal information gathered here will be stored in our database.
  </p>
  <p class="kristan-indent">
    Registration is only once (if uninstalled, need to register again once re-install). This personal information collected will be the following: Complete Name (given name and last name), email address, sex, age, city and barangay.
  </p>
  <p class="kristan-indent">
    All data regarding the contact tracing QR Code App will be deleted once COVID-19 Pandemic is over.
  </p>
  <p class="kristan-indent">
    All data retrieved will be done when and if there's a probable case of COVID-19 patient who enters in our store.
  </p>
  <p class="kristan-indent">
    By clicking agree button, it means you agree with the conditions mentions above.
  </p>
  <ion-button class="kristan-btn" color="success" (click)="agree()">Agree</ion-button>
</div>
</ion-content>
