<ion-header>
  <ion-toolbar>
    <ion-title>Privacy Consent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="kristan">
  <div id="header">
    <div class="img">
      <img src="assets/cebu-home-builders.jpg" />
    </div>
    <div class="img">
      <img src="assets/lns.png" />
    </div>
  </div>
  <p class="kristan-indent">
    The QR Code App is exclusive for Cebu Oversea Hardware Co., Inc. and it's subsidiary companies; Cebu Home and Builders Centre and Living 'N Style for contact tracing use only.
  <p class="kristan-indent">
    Registration is only once (if uninstalled, need to register again once App is re-installed). The personal information collected will be the following: Complete Name (given name and last name), email address, sex, age, city and barangay.
  </p>
  <p class="kristan-indent">
    All Personal Information collected will be stored and deleted in our database for a maximum of 30 days.
  </p>
  <p class="kristan-indent">
    Data will only be disclosed to the authorized personel from the LGU and DOH upon their request if and when the need arises for COVID-19 contact tracing only.
  </p>
  <p class="kristan-indent">
    You may reach us through our DPO if you have any questions.
  </p>
  <p>
    DPO Name:   Ritche L. Lao<br>  
    Mobile:     0917-8383697<br> 
    Landline:   (032)343-8421<br> 
    Email:  dpo@cebuoversea.com
  </p>
  <ion-button class="kristan-btn" color="success" (click)="agree()">Agree</ion-button>
  <ion-button class="exit-btn" color="danger" (click)="exit()">Go Manual</ion-button>
</div>
</ion-content>
